// flex options
$col: column;
$row: row;

$center: center;
$fs: flex-start;
$fe: flex-end;
$sb: space-between;
$sa: space-around;
$se: space-evenly;


//colors
$main:#7E8AF3;
$dark:#20262E;
$svg:#62707C;


//styles 
$bs:0px 4px 4px rgba(0, 0, 0, 0.25);;
