main {
	height: 90vh;
	overflow: auto;
	position: relative;
}
.container {
	position: relative;
}
.top-group {
	@include absoluteCenter;
	position: fixed;
	width: 110%;
	top: 165px;
	background: white;
}
@media (min-width: 768px) {
	.top-group {
		top: 185px;
	}
}