nav {
	color: $svg;
		& ul {
			margin: 15px 15px auto auto;
			@include flex($row, nowrap, $fs, $center);
		}
		& li {
			font-size: 2.5em;
			margin: auto 5px;
			list-style: none;
			transition: .3s;
			cursor: pointer;
				&:hover {
					color: $main;
				}
		}
}