.section-container {
	height: 88%;
	margin-top: 100px;
}
.section {
	@include size(auto, 100%);
}
.about {
	background: white;
}
.skills {
	background: rgb(214, 214, 214);
}
.portfolio {
	background: white;
}
.contact {
	background: rgb(214, 214, 214);
}