* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::selection {
	background: transparent;
}
body {
	font-family: 'Roboto', sans-serif;
	background: white;
	overflow: hidden;
}
.container {
	scroll-behavior: smooth;
}