.header-name-group {
	text-align: center;
	text-transform: uppercase;
	@include absoluteCenter;
	width: 100%;
	top: 35px;
}
.header-name-group h1,
.header-name-group h2 {
	margin: 0;
	text-shadow: $bs;
}
.header-name-group h1 {
	margin-top: 10px;
}
.header-name-group h2 {
	color: $main;
	letter-spacing: 1.3px;
}


.header-name-group-desktop {
	display: none;
	text-transform: uppercase;
	font-size: .8em;
	margin-left: 20px;
		& h1 {
			color: white;
			margin: 0;
		}
		& h2 {
			color: $main;
			margin: 0;
			letter-spacing: 1px;
		}
}

@media(min-width: 768px) {
	.header-name-group {
		display: none;
	}
	.header-name-group-desktop {
		display: block;
	}
}


// Page nav active
.active-nav-item {
	color: $main;
	text-shadow: $bs;
}